@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

html {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(140deg, rgb(111, 226, 235), rgba(224, 142, 142));
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

a {
    color: rgb(0,0,0);
}

a:hover {
    color: rgba(224, 142, 142);
}

nav {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}


nav ul li {
    display: inline-block;
    margin: 10px;
}


nav ul li>a {
    padding: 0.5rem;
    font-weight: bold;
}

nav ul li>a:hover {
    border-bottom: 4px solid rgba(224, 142, 142);
}

main {
    margin: 2rem;
}

.title {
    margin: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}

.me-name {
    font-size: 2.5rem;
    font-family: 'Major Mono Display', monospace;
    letter-spacing: 0.25ch;
    margin-bottom: 1rem;
}

.avatar {
    border-radius: 50%;
    max-height: 6rem;
    margin: 1rem 0;
}

h1, h2, h3, h4 {
    text-transform: lowercase;
}

h1 {
    font-size: 2rem;
    padding: 1rem
}

h2 {
    padding: 1rem
}

p {
    padding: 1rem;
}

.portfolio {
    margin-top: 1rem;
    text-align: center;
}
.portfolio-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 1rem;
}

.project {
    display: grid;
    grid-template-rows: 1fr;
    margin: 0.5rem;
    box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgba(0, 0, 0, 0.25) solid;
    transition: 0.3s;
}   

.project:hover {
    box-shadow: rgb(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
    transition: 0.3s;
}

.project-description>a, .project:hover>a {
    color: black;
}

.project>h2 {
    color: white;
}
.project-description {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

aside {
    background-color: rgba(0,0,0, 0.1);
    padding: 1rem;
    font-weight: bold;
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
}

aside>a {
    color: rgb(0, 0, 0);
}

aside>a:hover {
    color: rgb(224, 142, 142);
}

footer {
    text-align: center;
    font-size: 1rem;
    text-transform: lowercase;
}

strong {
    margin: 5px;
    letter-spacing: 0.1ch;
}

.social {
    padding: 5px;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}